# Train-Test Logistic Regression Model (Titanic) with R

In [1]:
#install package
install.packages("tidyverse")
install.packages("titanic")
library(tidyverse)
library(titanic)

Updating HTML index of packages in '.Library'

Making 'packages.html' ...
 done

Updating HTML index of packages in '.Library'

Making 'packages.html' ...
 done

Warning message in system("timedatectl", intern = TRUE):
“running command 'timedatectl' had status 1”
Warning message:
“Failed to locate timezone database”
── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.1     ✔ readr     2.1.4
✔ forcats   1.0.0     ✔ stringr   1.5.0
✔ ggplot2   3.4.2     ✔ tibble    3.2.1
✔ lubridate 1.9.2     ✔ tidyr     1.3.0
✔ purrr     1.0.1
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter()  masks stats::filter()
✖ purrr::flatten() masks jsonlite::flatten()
✖ dplyr::lag()     masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [2]:
#check data
data(titanic_train)
glimpse(titanic_train)

Rows: 891
Columns: 12
$ PassengerId <int> 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17,…
$ Survived    <int> 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1…
$ Pclass      <int> 3, 1, 3, 1, 3, 3, 1, 3, 3, 2, 3, 1, 3, 3, 3, 2, 3, 2, 3, 3…
$ Name        <chr> "Braund, Mr. Owen Harris", "Cumings, Mrs. John Bradley (Fl…
$ Sex         <chr> "male", "female", "female", "female", "male", "male", "mal…
$ Age         <dbl> 22, 38, 26, 35, 35, NA, 54, 2, 27, 14, 4, 58, 20, 39, 14, …
$ SibSp       <int> 1, 1, 0, 1, 0, 0, 0, 3, 0, 1, 1, 0, 0, 1, 0, 0, 4, 0, 1, 0…
$ Parch       <int> 0, 0, 0, 0, 0, 0, 0, 1, 2, 0, 1, 0, 0, 5, 0, 0, 1, 0, 0, 0…
$ Ticket      <chr> "A/5 21171", "PC 17599", "STON/O2. 3101282", "113803", "37…
$ Fare        <dbl> 7.2500, 71.2833, 7.9250, 53.1000, 8.0500, 8.4583, 51.8625,…
$ Cabin       <chr> "", "C85", "", "C123", "", "", "E46", "", "", "", "G6", "C…
$ Embarked    <chr> "S", "C", "S", "S", "S", "Q", "S", "S", "S", "C", "S", "S"…

In [3]:
head(titanic_train, 10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
,<int>,<int>,<int>,<chr>,<chr>,<dbl>,<int>,<int>,<chr>,<dbl>,<chr>,<chr>
1,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,,S
2,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38,1,0,PC 17599,71.2833,C85,C
3,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,,S
4,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S
5,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,,S
6,6,0,3,"Moran, Mr. James",male,NA,0,0,330877,8.4583,,Q
7,7,0,1,"McCarthy, Mr. Timothy J",male,54,0,0,17463,51.8625,E46,S
8,8,0,3,"Palsson, Master. Gosta Leonard",male,2,3,1,349909,21.0750,,S
9,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27,0,2,347742,11.1333,,S
10,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14,1,0,237736,30.0708,,C

In [7]:
#data cleaning
#drop na (missing value)
titanic_train <- na.omit(titanic_train)

#factorizing
titanic_train$Sex <- factor(titanic_train$Sex,
    levels = c("male", "female"),
    labels = c(0, 1))

In [12]:
#data model
model_full <- glm(Survived ~ . -Name -Ticket -Cabin -Embarked, data = titanic_train, family = "binomial")
summary(model_full)

Call:
glm(formula = Survived ~ . - Name - Ticket - Cabin - Embarked,
    family = "binomial", data = titanic_train)

Deviance Residuals:
    Min       1Q   Median       3Q      Max
-2.7763  -0.6448  -0.3775   0.6266   2.4607

Coefficients:
              Estimate Std. Error z value Pr(>|z|)
(Intercept)  2.5742206  0.5786108   4.449 8.63e-06 ***
PassengerId  0.0003718  0.0003815   0.974  0.32987
Pclass      -1.2387100  0.1635274  -7.575 3.59e-14 ***
Sex1         2.6465184  0.2204717  12.004  < 2e-16 ***
Age         -0.0439970  0.0081820  -5.377 7.56e-08 ***
SibSp       -0.3661976  0.1280162  -2.861  0.00423 **
Parch       -0.0705650  0.1236471  -0.571  0.56821
Fare         0.0022108  0.0025230   0.876  0.38088
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

(Dispersion parameter for binomial family taken to be 1)

    Null deviance: 964.52  on 713  degrees of freedom
Residual deviance: 634.86  on 706  degrees of freedom
AIC: 650.86

Number of Fisher Scoring iterations: 5

In [13]:
#split data
set.seed(42)
n <- nrow(titanic_train)
id <- sample(1:n, size = n*0.7) #70%train, 30%test
train_data <- titanic_train[id, ]
test_data <- titanic_train[-id, ]

nrow(train_data)

In [14]:
nrow(test_data)

In [15]:
#fit logistic regression
model <- glm(Survived ~ Pclass + Age + Sex + SibSp, data = train_data, family = "binomial")
summary(model)

Call:
glm(formula = Survived ~ Pclass + Age + Sex + SibSp, family = "binomial",
    data = train_data)

Deviance Residuals:
    Min       1Q   Median       3Q      Max
-2.9097  -0.6223  -0.3378   0.6033   2.4133

Coefficients:
            Estimate Std. Error z value Pr(>|z|)
(Intercept)  3.39131    0.60350   5.619 1.92e-08 ***
Pclass      -1.49165    0.17867  -8.349  < 2e-16 ***
Age         -0.05004    0.01031  -4.851 1.23e-06 ***
Sex1         2.82454    0.27045  10.444  < 2e-16 ***
SibSp       -0.40560    0.15504  -2.616  0.00889 **
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

(Dispersion parameter for binomial family taken to be 1)

    Null deviance: 673.56  on 498  degrees of freedom
Residual deviance: 424.77  on 494  degrees of freedom
AIC: 434.77

Number of Fisher Scoring iterations: 5

In [22]:
#predicted from train_data
train_data$prob_survived <- predict(model, type = "response")
train_data$preb_survived <- ifelse(train_data$prob_survived >= 0.5, 1, 0)

#confusion matrix
conM_train <- table(train_data$Survived, train_data$preb_survived, dnn = c("Actual", "Predicted"))
conM_train

In [17]:
#model evaluate
accuracy_train <- (conM_train[1, 1] + conM_train[2, 2]) / sum(conM_train)
precision_train <- conM_train[2, 2] / (conM_train[2, 1] + conM_train[2, 2])
recall_train <- conM_train[2, 2] / (conM_train[1, 2] + conM_train[2, 2])
f1_train <- 2 * ((precision_train*recall_train) / (precision_train+recall_train))

cat("Accuracy : ", accuracy_train,
    "\nPrecision : ", precision_train,
    "\nRecall :", recall_train,
    "\nF1-Score :", f1_train)

Accuracy :  0.8136273
Precision :  0.7425743
Recall : 0.7853403
F1-Score : 0.7633588

In [19]:
#test model
#predicted from test_data
test_data$prob_survived <- predict(model, newdata=test_data, type = "response")
test_data$preb_survived <- ifelse(test_data$prob_survived >= 0.5, 1, 0)

#confusion matrix
conM_test <- table(test_data$Survived, test_data$preb_survived, dnn = c("Predicted", "Actual"))
conM_test

In [20]:
#model evaluate
accuracy_test <- (conM_test[1, 1] + conM_test[2, 2]) / sum(conM_test)
precision_test <- conM_test[2, 2] / (conM_test[2, 1] + conM_test[2, 2])
recall_test <- conM_test[2, 2] / (conM_test[1, 2] + conM_test[2, 2])
f1_test <- 2 * ((precision_test*recall_test) / (precision_test+recall_test))

cat("Accuracy : ", accuracy_test,
    "\nPrecision : ", precision_test,
    "\nRecall :", recall_test,
    "\nF1-Score :", f1_test)

Accuracy :  0.8
Precision :  0.7045455
Recall : 0.7848101
F1-Score : 0.742515

In [21]:
#summary
(result <- data.frame(
    type = c("train", "test"),
    accuracy = c(accuracy_train, accuracy_test),
    precision = c(precision_train, precision_test),
    recall = c(recall_train, recall_test),
    f1_score = c(f1_train, f1_test)
))

type,accuracy,precision,recall,f1_score
<chr>,<dbl>,<dbl>,<dbl>,<dbl>
train,0.8136273,0.7425743,0.7853403,0.7633588
test,0.8000000,0.7045455,0.7848101,0.7425150